.body-about {
  background-image: none;
}

#hero-about {
  width: 100%;
  height: 250px;
  background-image: url("../../img/abaout-back.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}