.hero__big {
 padding-top: 50px !important;
  margin-bottom: 100px;
}

.hero-small-1 {
  width: 100%;
  max-width: 330px;
  height: 290px;
  background-image: url("../../img/vagitable.1.jpg");
  object-fit: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20px;
  margin-bottom: 25px;
  border-radius: 8px;
  position: relative;
}

.hero-small-2 {
  width: 100%;
  max-width: 330px;
  height:290px;
  background-image: url("../../img/limon.jpg");
  object-fit: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20px;
  border-radius: 8px;
  position: relative;
}

.ffffff {
  position: absolute;
  bottom: 80px;
  right: 80px;
  z-index: 10;
}

.slide-nxt {
  position: absolute;
}

.slide-nxt  {
  font-size: 25px;
  padding: 6px 12px;
  border-radius: 50%;
  background-color: #fff;
  color: #111;
  position: absolute;
  border: none;
  transition: all 0.5s ease;

  &:hover {
    background-color: #BAC34E;
  }
}

.slide-nxt2 {
  right: 5px;
}

.hero__special {
  position: relative;
}

.hero__special img {
  border-radius: 15px;
}

.hero__descrip {
  width: 300px;
  position: absolute;
  top: 120px;
  left: 80px;
  z-index: 10;
}

.h-smal__title {
  font-size: 40px;
  font-weight: 400;
  color: #0A472E;
}

.h-smal__link {
  font-size: 10px;
  font-weight: 900;
  text-decoration: underline !important;
  color: #111;

  &:hover {
    color: #BAC34E;
  }
}

.h-smal__link:hover .nxt_icon {
  margin-left: 2px !important;
  transition: all 0.5s ease;
}

.h-smal-1__link:hover {
  color: #BAC34E;
}

.h-smal-1__link:hover .nxt_icon {
  margin-left: 2px !important;
  transition: all 0.5s ease;
}

.nxt_icon2 {
  position: absolute;
  top: 10px;
  right: 5px;
}

.h-smal-2__link:hover {
  color: #BAC34E;
}

.h-smal-2__link:hover .nxt_icon2 {
  left: calc(+90px) !important;
  transition: all 0.5s ease;
}


.h-smal__txt {
  font-size: 28px;
  font-weight: 700;
  font-family: 'Dancing Script';
  margin-bottom: 0;
}

.hero-small-1__open {
  width: 180px;
  position: absolute;
  top: 60px;
  left: 50px;
}

.h-smal-1__title {
  font-size: 24px;
  font-weight: 400;
  color: #0A472E;
  margin-bottom: 60px;
}

.h-smal-1__link {
  font-size: 10px;
  font-weight: 900;
  text-decoration: underline !important;
  color: #111;
}

.hero-small-2__open {
  width: 300px;
  margin: 0 auto;
  position: absolute;
  top: 40px;
  left: 100px;

  .h-smal-2__txt {
    margin-left: 23px;
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    font-family: 'Dancing Script';
  }
  .h-smal-2__title {
    font-size: 35px;
    font-weight: 800;
    color: yellow;
  }
  
  .h-smal-2__txt2 {
    position: relative;
    left: -80px;
    text-align: center;
    width: 300px;
    font-size: 16px;
    color: #fff;
  
  }
  .h-smal-2__link {
    font-size: 12px;
    color: #fff;
    background-color: #BAC34E;
    padding: 8px 20px;
    border-radius: 16px;
    margin-left: 15px;
    position: relative;
  }
}


@media screen and (max-width:1325px) {
  .hero-small-1 {
    height: 260px;
  }
  
  .hero-small-2 {
    height:260px;
  }
}
@media screen and (max-width:1190px) {
  .hero-small-1 {
    height: 250px;
  }
  
  .hero-small-2 {
    height:250px;
  }
  .h-smal-2__txt2 {
    left: -105px !important;
  }
}

@media screen and (max-width:980px) {
  .hero-small {
    display: flex;
  }

  .h-smal-2__txt2 {
    left: -80px !important;
  }

}

@media screen and (max-width:970px) {
  .hero-small-1 {
    margin-left: 0;
  }
  .hero-small-2 {
    margin-left: 0;
  }
}


@media screen and (max-width:780px) {
  .hero__big {
    align-items: center;
    justify-content: center;
  }
  .hero-small {
    flex-direction: column;
    max-width: 100%;
  }

  .hero-small-1 {
    max-width: 780px;
    width: 100%;
  }
  .hero-small-2 {
    max-width: 780px;
    width: 100%;
  }

  .hero__descrip {
    top: 50px;
    color: red;
  }
}
