#vagitable-section {
  padding-top: 50px;
}

.balgar {
  padding-bottom: 33px;
}

.cucum {
  padding-bottom: 47px !important;
}

.qalamp {
  padding-bottom: 50px;
}

.poteto {
  padding-bottom: 25px;
}

.baqlajon {
  padding-bottom: 35px;
}

.chisnok {
  padding-bottom: 8px;
}